[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "==1.5.2"
click = "*"
faker = "*"
psycopg2-binary = "*"
azure-keyvault-secrets = "*"
azure-identity = "*"

[dev-packages]
black = "*"
flake8 = "*"
xenon = "*"
isort = "*"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.9"
