[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[packages]
locust = "==1.5.2"
click = "*"
faker = "*"
psycopg2-binary = "*"
azure-keyvault-secrets = "*"
azure-identity = "*"
jinja2 = "==3.0.3"
itsdangerous = "==2.0.1"
redis = "*"
werkzeug = "==2.0.3"
types-redis = "*"
retry-tasks-lib = {version=">=1.13.0", index="pypi-cloud"}

[dev-packages]
black = "*"
flake8 = "*"
xenon = "*"
isort = "*"
ipython = "*"
mypy = "*"
pyupgrade = "*"

[requires]
python_version = "3.10"
