[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "*"
click = "*"
faker = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]
black = "==21.9b0"
flake8 = "*"
xenon = "*"
isort = "*"

[requires]
python_version = "3.9"
